@font-face {
    font-family: "Figtree";
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
    font-style: normal;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    line-height: 1.5;
        letter-spacing: 0px;
}

h1 {
    font-weight: 800;
    font-size: 24px;
    color: var(--gray-950);
}

p {
    font-size: 16px;
    color: var(--gray-500);
}

a {
    text-decoration: none;
    color: var(--gray-950);
}

a:hover {
    color: var(--yellow);
}

.tag:hover {
    background-color: var(--gray-950);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: var(--white);
    border-radius: 20px;
    width: 329px;
    padding: 24px;
    filter: drop-shadow(8px 8px #000000);
    border-style: solid;
        border-width: 1px;
        border-color: var(--gray-950);
}

.image {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.date {
    font-size: 14px;
    color: var(--gray-950);
}

.tag {
    background-color: var(--yellow);
    font-weight: 800;
    border-radius: 4px;
    padding: 4px 12px;
    width: fit-content;
    color: var(--gray-950);
    margin-top: 24px;
}

.author {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 12px;
    margin-top: 24px;
}

.avatar {
    width: 32px;
    height: 32px;
}

.name {
    font-weight: 800;
    color: var(--gray-950);
}

.attribution {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 400px) {
    .card {
        width: 384px;
    }
}
